@font-face {
    font-family: 'Khausan Script';
    src: url('path/to/khausan-script.woff2') format('woff2'),
         url('path/to/khausan-script.woff') format('woff');
    /* Tambahkan format font lain jika diperlukan */
  }
  
  h1 {
    font-family: 'Khausan Script', cursive; /* Menggunakan "Khausan Script" sebagai font */
    /* Aturan CSS lainnya */
  }
  